# data
data
data.zip
submissions
predictions
checkpoints
logs
submission
*.pdf
submission.zip

venv
*.png
*.pth

# IDE config files
.idea
.vscode
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
__pycache__

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
venv/
